*{
margin: 0%;
padding: 0%;
font-family: sans-serif;
text-decoration: none;

}


body{
background-color: rgb(230, 227, 227);


}


.navborder{
position:relative;
background-color: white;    

padding: 1%;
border:  2px solid white;

height: 30px;
width: 97%;

}


.navd{
 
display: flex;
justify-content:space-between;
align-items: center;

color: rgb(102, 99, 99);
font-size: 0.9rem;


}

.navd h1 {
    color: rgb(0, 0, 0);


}

.navd a i{
    color:#79C142;

}

.navd  h3 i{
transform: translateX(-3px);

}

.dropdown a{ 
    display: inline;
width: 90%;
color: black;
text-align:center;
justify-content: center;
align-items: center;
margin-right: 15%;

}

.contet a{
padding: 2%;

}


.dropdown .contet{
display: none;
position: absolute;
padding: 1%;
background-color: white;
height: 350%;
width: 25%;
text-align:center;
justify-content: center;
align-items: center;
box-shadow: 2px 2px 5px black;


}

.dropdown:hover .contet{
display: block;

}

.dropdown a:hover{

background-color: #79C142;

}

.contet a:hover i{
color: black;

}

/*  */

.dropdown1 a{ 
    display: inline;
width: 90%;
color: black;
}

.contet1 a{
padding: 2%;

}


.dropdown1 .contet1{
display: none;
position: absolute;
padding: 1%;
background-color: white;
height: 200%;
width: 20%;
text-align:justify;
justify-content:space-evenly;
align-items: self-start;
box-shadow: 2px 2px 5px black;


}

.dropdown1:hover .contet1{
display: block;

}

.dropdown1 a:hover{

background-color: #79C142;

}

.contet1 a:hover i{
color: black;

}


/*  */




.input input{


width: 90%;
height: 30px;

}

.input i{
    transform: translateX(-20px);
    color: #79C142;
    

}

.navd h3:hover{
    color: #79C142;
} 



/*  */
/*  */

.mid{
/* border:  2px solid black; */
display: flex; 
text-align: center;


width: 60%;
height: 150px;

}

.mid{

display: flex;
justify-content: center;
align-items: center;
/* text-align: center; */

width: 99%;
height: 80vh;

}

.modc h1{
font-size: 2.1rem;

}

.modc a{
color: rgb(75, 73, 73);
    
}

.modc i{
color:#79C142;

}


.input1 input{

border-color: white;

width: 70%;
height: 30px;

padding: 1%;

font-size: 1.2rem;


}

.input1 i{    
    background-color:rgb(133, 216, 9);

    color: white;
    
    padding: 2%;
    transform: translateX(-10px);

}

.modc p{
    color: rgb(56, 53, 53);
    line-height: 99%;
}

.modc a h3{
background-color: rgb(122, 199, 6);
color: white;
text-decoration: none;
width: 35%;
height: 40px;

display: flex;
align-items:center;


margin-left: 30%;

}

.modc a  h3{
display: flex;
justify-content: center;
}


.modc a h2:hover{

background-color: rgb(100, 160, 10);

}


.llbor{
    position: relative;
border-radius: 1px;

background-color: rgb(212, 212, 212);

display: block;
justify-content: center;
align-items: center;
text-align: center;

width: 60%;
height: 99px;

left: 20%;

}

.links {

    text-align: center;


}

.links h3{

color: rgb(61, 59, 59);
}

.lset{
display: flex;
justify-content:space-evenly;

}

.fb{
position: relative;
background-color: blue;
color: white;

padding: 1%;
width: 10%;

border-radius: 10px;

transition: cover 1s ease-in-out 1s;

}

.fb i{
color: white;

}

.tw{
background-color: rgb(0, 0, 0);
color: white;

padding: 1%;
width: 10%;

border-radius: 10px;

transition: cover 1s ease-in-out 1s;
}

.tw i{
color: white;
}

.me{
background-color: rgb(0, 47, 255);
color: white;

padding: 1%;
width: 10%;

border-radius: 10px;
transition: cover 1s ease-in-out 1s;

}

.me i{
    color: white;
}

.red{
background-color: rgb(255, 0, 0);
color: white;

padding: 1%;
width: 10%;

border-radius: 10px;

transition: cover 1s ease-in-out 1s;

}

.red i{
color: white;
}

.wh{
background-color: rgb(64, 216, 4);
color: white;

padding: 1%;
width: 10%;

border-radius: 10px;

transition: cover 1s ease-in-out 1s;

}

.wh i{
color: white;    
}

.whb{
background-color: rgb(174, 0, 255);
color: white;

padding: 1%;
width: 10%;

border-radius: 10px;

transition: cover 1s ease-in-out 1s;

}

.whb i{
    color: white;
}

.sh{
background-color: rgb(64, 216, 4);
color: white;

padding: 1%;
width: 10%;

border-radius: 10px;

transition: cover 1s ease-in-out 1s;

}

.sh i{
color: white;
}


.fb:hover {

    transform: translateY(-5px);
}

.tw:hover {

    transform: translateY(-5px);
}

.me:hover {

    transform: translateY(-5px);
}

.red:hover {

    transform: translateY(-5px);
}

.wh:hover {

    transform: translateY(-5px);
}

.whb:hover {

    transform: translateY(-5px);
}

.sh:hover {

    transform: translateY(-5px);
}
/* NEXT LINE */
/* NEXT LINE */

.mbcon{

padding: 2%;

}

.mainbor{
background-color: #fff6e5;
padding: 2%;

}



.mbt a{
color: #79C142;

}

.mbt p1{   
color: brown;

}

.mb1 h4{
color: brown;
}


.mb2 strong{
color: brown;
}





                /* NEXT LINE */
                /* NEXT LINE */


.contain{
padding: 3%;
color: white;

}

.contex{
padding: 2%;
background-color: #79C142;
box-shadow: 1px 2px 1px 1px black;

}

.contex h1{
    text-align: center;
    font-size: 2rem;
}


.ct10 i{
color: black;
background-color: rgb(229, 255, 0);
border-radius: 90px;
}


.conb1{
position: relative;

left: 25%;

text-align: center;
background-color: #79C142;

padding: 1%;

width: 50%;


}

.cb1t h2{
color: white;

}

.conb1:hover{
background-color:#5b972c;

}


/* FOOTER FOOTER */



.fborder{


background-color:#1e1e1e;
color: white;

flex-direction: row;
flex-wrap: wrap;

justify-content: center;
align-self:center;
text-align: center;

padding: 5%;

display: flex;
justify-content:space-evenly;

height: 30%;

}


.fborder a{
color: white;
}


.fborder a:hover{
color:#79C142 ;
}

.fb1{

    margin-right: 5%;
}

.fb2{

    margin-right: 5%;
}

.fb3{

    margin-right: 5%;
}

.fb3 i{
    transform: scale(2);
}

.fb4 i{
color: #79C142;
background-color: white;
border-radius: 90px;

}


/*  NEXT LINE */
/*  NEXT LINE */
/*  NEXT LINE */
/*  NEXT LINE */
/*  NEXT LINE */

@media (max-width: 575.98px) {
    .navd h3{
    display: none;

    }

    .navborder{
        height: 30%;
    
    }

.navd{

    flex-wrap: wrap;
    justify-content: center;

    }

.fborder{

    flex-wrap: wrap;
    flex-direction: row;
    padding: 4%;
    height: 150vh;

}



}


@media (min-width: 576px) and (max-width: 767.98px) {

    .navd h3{
display: none;

    }

.fborder{
    height: 100%;
}

}


@media (min-width: 768px) and (max-width: 991.98px) {

.navd{

flex-wrap: wrap;


    }


}


@media (min-width: 992px) and (max-width: 1199.98px) {
.navd{

flex-wrap: wrap;


    }

}


@media (min-width: 1200px) {
  


}















