
* {
  margin: 0;
  padding: 0;
  font-family: serif;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url(a5.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/*  */

.navdes{
height: 40px;
width: 95%;

display:flex;
justify-content: space-evenly;

border: 1px solid white;
border-radius: 50px;

padding: 11px;
margin: 10px;
margin-top: 40px;

font-size: 15px;
letter-spacing: 1px;
line-height: 20px;

backdrop-filter: blur(20px);

}

.navdes pre{
    
/* visibility: hidden; */

transition: cover 0.5s ease;
}

.navdes h3{
font-family:serif;
background-color: rgba(0, 0, 0, 0.233);
transition: all 0.1s ease-in-out;

}


.navdes i{
transform: scale(0.8);

}

.navdes input{
background:transparent;

padding: 10px;

border: 1px solid white;
border-radius: 5px;

}

.navdes h3:hover{

color:rgb(0, 255, 255);
background-color: black;

border: 1px solid white;
border-radius: 4px;

}

/* .distance{
height: 5px;    

} */

.midpart{
/* height: 45vh; */
font-size: 21px;
/* align-items: center; */
/* justify-content: center; */
text-align: center;

/* border: 2px solid white; */

/* margin-top: 20px; */
margin:80px 10px 0px 23%;
padding :20px;      

width: 50%;
/* height: 45vh; */


}


.midpart i{
color: rgb(95, 255, 47);

}

.midpart h1{
letter-spacing: 3px;
font-size: 42px;

}


.midpart input{

height: 33px;
width: 55%;

border: 1px solid white;
border-radius: 10px;

padding: 10px;

font-size: 18px;

background: transparent;
backdrop-filter: blur(20px);

}

.search i{
transform: translatex(-36px);
background-color: white;

height: 32px;
width: 60px;

padding: 2px;

border: 2px solid white;
border-radius: 5px;

}

.hov a{

transition: all 0.1s ease-in;


}

.hov a:hover{
color: rgb(0, 238, 255);
transform: scale(1);

border: 1px solid white;
border-radius: 10px;

}

.midpart p{

 font-size: 20px;
line-height: 30px;
}

.midpart  a{

    color: rgb(255, 255, 255);
background-color: rgba(0, 0, 0, 0.61);
border-radius: 10px;

padding: 10px;

}

.nextlinegap{
height: 20vh;

}

.main  {

background-color: rgba(0, 0, 0, 0.308);   

backdrop-filter: blur(5px);
border-radius: 30px ;

padding: 20px;
margin: 50px;

font-size: 20px;
letter-spacing: 2px;
line-height: 40px;   

transition: cover 1s ease-in;

}

.main h1{
text-align: center;
letter-spacing: 2px;


}

.main li{
transform: translateX(15px);

}

.main p{
transform: translateX(15px);

}

.main:hover{
border: 1px solid white;


}

.b {
text-align: center;
justify-content: center;
align-items: center;
letter-spacing: 2px;
font-size: 30px;

backdrop-filter: blur(5px);
/* background-color: rgba(0, 0, 0, 0.363); */


border-radius: 15px;

height: 60px;
width: 40%;

padding: 15px;
margin-left: 30%;

display: flex;

transition: all 0.5s ease-in-out;

}

.b a{
background-color: rgba(0, 0, 0, 0.459);
backdrop-filter: blur(10px);

border-radius: 15px;

padding: 15px;

}


.b a:hover{
color: rgb(0, 255, 242);

border: 2px solid white;
border-radius: 15px;

} 

.fg{
height: 5vh;

}

.footgap{
display: flex;
text-align: start;
justify-content: center;
align-items: center;

backdrop-filter: blur(10px);
background-color: rgba(0, 0, 0, 0.295);
border-radius: 100px;

height: 450px;
width: 95%;

padding: 25px;
margin:40px; 


}


.hea1{

line-height: 50px;
font-size: 20px;
letter-spacing: 2px;

}

.hea1 p{

transition: all 0.4s ease-in-out;

/* border: 1px solid white; */
border-radius: 20px;

width: 49%;

text-align: center;

padding: 10px;
margin-right: 145px;

}

.hea1 p:hover{

margin-bottom: 20px;

border: 1px solid white;
border-radius: 90px;

transform: scale(1.1);
color: aqua;

}


/*  */

.hea2{

line-height: 50px;
font-size: 20px;
letter-spacing: 2px;

}

.hea2 p{

transition: all 0.4s ease-in-out;

/* border: 1px solid white; */
border-radius: 20px;

/* width: 10%; */

text-align: center;
padding: 10px;
margin-right: 150px;

}

.hea2 p:hover{

transform: scale(1.1);

margin-bottom: 15px;

border: 1px solid white;
border-radius: 90px;


color: aqua;

}


/* */


.hea3{

line-height: 50px;
font-size: 20px;
letter-spacing: 1px;

}

.hea3 p{

transition: all 0.4s ease-in-out;

/* border: 1px solid white; */
border-radius: 20px;

/* width: 10%; */

text-align: center;
padding: 10px;
margin-right: 130px;

}

.hea3 h4{
    transform: translateX(20px);
}

.hea3 p:hover{

margin-bottom: 5px;
padding: 10px;

border: 2px solid white;
border-radius: 30px;

transform: scale(1.1);
color: rgb(0, 255, 242);

}

.hea4{

/* line-height: 50px; */
font-size: 20px;
letter-spacing: 2px;

}


.hea4 h4{

transition: all 0.3s ease-in-out;

/* border: 1px solid white; */
border-radius: 20px;

/* width: 10%; */

text-align: center;
align-items: center;

padding: 20px;
margin-right: 120px;

font-size: 19px;



}

.hea4 h4:hover{

/* margin: 10px;
padding: 20px; */

border: 2px solid white;
border-radius: 20px;

transform: scale(1.1);
color: rgb(0, 255, 242);

text-align: center;

}


/*  Media Query  */


@media (max-width: 479px) {

.navbar{
width: 97%;
line-height: 1%;  
}

.navdes{
width: 99%;
height: 10%;
flex-wrap: wrap;
font-size: 0.8rem;
letter-spacing: 0.1em;
margin-right: 1%;

}

.midpart h1{

font-size: 1rem;

}

.search input{

width: 82%;
font-size: 0.8rem;

}

.search i{

width: 15%;

}

.hov h5,p{

 text-align:center; 
font-size: 0.9rem;

}

.hov{
font-size: 0.9rem;

}

.main{
font-size: 0.9rem;
}

.main h2{
font-size: 1.2rem;
}

.b a{

font-size: 0.9rem;

}

.footgap{

flex-wrap: wrap;
flex-direction: column;
font-size: 0.5rem;
width: 70%;
height: 100%;
}

.hea1{
font-size: 0.6rem;
  /* margin-right: 50%; */
  /* width: 1%; */
}

.hea2{
font-size: 0.6rem;
  /* margin-right: 99%; */
}

.hea3{
  font-size: 0.6rem;
/* margin-right: 99%; */
}

.hea4{
font-size: 0.6rem;
  /* margin-right: 99%; */
}

}




@media (min-width: 480px) and (max-width: 767px) {

.navbar{
width: 97%;
line-height: 1%;  
}

.navdes{
width: 99%;
height: 10%;
flex-wrap: wrap;
font-size: 0.8rem;
letter-spacing: 0.1em;
margin-right: 1%;

}

.midpart h1{

font-size: 1rem;

}

.search input{

width: 82%;
font-size: 0.8rem;

}

.search i{

width: 15%;

}

.hov h5,p{

 text-align:center; 
font-size: 0.9rem;

}

.hov{
font-size: 0.9rem;

}

.main{
font-size: 0.9rem;
}

.main h2{
font-size: 1.2rem;
}

.b a{

font-size: 0.9rem;

}

.footgap{

flex-wrap: wrap;
width: 85%;
height: 150%;
}

.hea1{

  margin-left: 40%;
}

.hea2{

  margin-left: 40%;
}

.hea3{
width: 100%;
line-height: 99%;
font-size: 1rem;

margin-left: 30%;
}

.hea4{

  margin-left: 40%;
}


}




@media (min-width: 768px) and (max-width: 991px) {

.navbar{
width: 97%;
line-height: 1%;  

}

.navdes{
width: 99%;
height: 20%;
flex-wrap: wrap;

font-size: 0.8rem;
letter-spacing: 0.1em;
margin-right: 1%;

}

.midpart h1{

font-size: 1rem;

}

.search input{

width: 82%;
font-size: 0.8rem;

}

.search i{

width: 15%;

}

.hov h5,p{

 text-align:center; 
font-size: 0.9rem;

}

.hov{
font-size: 0.9rem;

}

.main{
font-size: 0.9rem;
}

.main h2{
font-size: 1.2rem;
}

.b a{

font-size: 0.9rem;

}

.footgap{

flex-wrap: wrap;
flex-direction: column;
width: 85%;
height: 150%;
}

.hea1{

  margin-left: 20%;
}

.hea2{

  margin-left: 20%;
}

.hea3{
width: 80%;
line-height: 99%;
font-size: 1rem;

margin-left: 20%;
}

.hea4{

  margin-left: 20%;
}


}




@media (min-width: 992px) and (max-width: 1199px) {

.navbar{
width: 97%;
line-height: 1%;  

}

.navdes{
width: 99%;
height: 20%;
flex-wrap: wrap;

font-size: 0.8rem;
letter-spacing: 0.1em;
margin-right: 1%;

}

.midpart h1{

font-size: 1rem;

}

.search input{

width: 82%;
font-size: 0.8rem;

}

.search i{

width: 15%;

}

.hov h5,p{

 text-align:center; 
font-size: 0.9rem;

}

.hov{
font-size: 0.9rem;

}

.main{
font-size: 0.9rem;
}

.main h2{
font-size: 1.2rem;
}

.b a{

font-size: 0.9rem;

}

.footgap{

flex-wrap: wrap;
flex-direction: column;
width: 85%;
height: 150%;
}

.hea1{

  margin-left: 20%;
}

.hea2{

  margin-left: 20%;
}


.hea3{
width: 80%;
line-height: 99%;
font-size: 1rem;

margin-left: 20%;
}

.hea4{

  margin-left: 20%;
}  


}


@media (min-width: 1200px) {
  
.navbar{
  height: 90%;
}

.navdes{
width: 99%;
font-size: 0.8rem;
letter-spacing: 0.1em;
margin-right: 1%;

}

.hov h5,p{

 text-align:center; 
font-size: 1rem;

}

.hov{
font-size: 1rem;

}

.main{
font-size: 1rem;
}

.main h2{
font-size: 1.2rem;
}

.b a{

font-size: 0.9rem;

}

.footgap{

justify-content: center;

}

.hea1{

  
  margin-left: 10%;
}
  


}
